.main {
    background: url("header.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    width: auto;
}

html,
body {
    color: #fff;
    margin: 0;
    width: auto;
    width: 100%;
    background: #303030;
    margin: 0px;
    font-size: 1rem;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
    line-height: 1.5;
}

.jumbotron {
    background: none;
}

.navbar {
    position: fixed;
    top: 0;
    transition: 0.3s;
    z-index: 99;
}

.nav-link {
    color: #fff;
    margin: 10px;
    font-weight: bold;
}

.nav-link:hover {
    color: #c2c3c4;
    cursor: pointer;
}

.languagemodal {
    display: none;
    width: 100%;
    height: 100%;
    list-style: none;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: calc(100vh - 40px);
}

.modalbackground {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 888;
}

.modal ul {
    list-style: none;
    padding-left: 0;
}

.modalcontent {
    text-align: center;
    z-index: 999;
    margin: 0 20px;
    max-height: calc(100vh - 160px);
    overflow: auto;
    position: relative;
    width: 100%;
    animation: slideDown 0.5s;
    -webkit-animation: slideDown 0.5s ease;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99996;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.changelang {
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}

hr {
    width: 35%;
    background-color: #fff;
}

.jmb-img {
    padding: 10px;
}

#changelog {
    color: #fff;
    transition: 0.3s;
}

#changelog:hover {
    color: #90C564;
}

.footer {
    background-color: #303030;
    margin: 0;
    padding: 16px;
}

.social {
    padding-top: 10px;
}

.footer li,
a {
    list-style: none;
    color: #fff;
    transition: 0.3s;
    padding-left: 0;
    text-align: left;
    padding-top: 8px;
}

.footer ul {
    padding-left: 0;
}

.footer a:hover {
    color: #8e8e8e;
    text-decoration: none;
}

.footer .changelang {
    font-size: 12px;
}

.nav-colored {
    background-color: #303030;
}

.nav-transparent {
    background-color: transparent;
}

.head-title {
    padding-top: 30%;
    padding-bottom: 20px;
}

.modal * {
    border: none;
}

div {
    border-radius: 0;
}

.modal-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.underlined-link:hover {
    cursor: pointer;
}

.languagemodal a:hover {
    color: #fff;
}

.hamburger-icon:hover {
    cursor: pointer;
}

.modal li {
    padding: 5px;
}

.copyright {
    font-size: 12px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-60%);
        -webkit-transform: translateY(-60%);
        -moz-transform: translateY(-60%);
        -ms-transform: translateY(-60%);
        -o-transform: translateY(-60%);
    }
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

.fadeIn {
    opacity: 1;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
}
.dropbtn {

    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99996;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.dropdown-content:after{
    position: absolute;
    left: 50%;
    top: -7px;
    width: 0;
    height: 0;
    content: '';
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid white;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}



@media (min-width: 992px) {
    .hamburger-icon {
        display: none;
    }
}

@media(max-width: 991px) {
    .mainmenu {
        z-index: 9996;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        display: none;
        opacity: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.95);
        font-size: 25px;
        animation: fadeIn 0.4s ease-in-out;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        -webkit-animation: fadeIn 0.4s ease-in-out;
    }
    .slideDown {
        animation: slideDown 0.6s;
        transform: translateY(0);
        -webkit-animation: slideDown 0.6s;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
    .opacity {
        opacity: 1;
    }
    .newversion {
        padding-bottom: 40px;
    }
    .mainmenu a {
        text-align: center;
    }
    .nav-link:hover {
        color: #42f445;
    }
    .mainmenu ul {
        margin: 0 auto;
        max-width: 400px;
    }
    .hamburger-icon {
        z-index: 10001;
    }
}

@media (min-width: 576px) {
    .head-title {
        padding-top: 15%;
    }
    .modalcontent {
        width: 28%;
    }
    .main {
        padding-bottom: 40px;
    }
}

@media (min-width: 1400px) {
    .head-title {
        padding-top: 20%;
    }
}